.auth-box {
    max-width: 350px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff416c;
    border: none;
    color: white;
}
