.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    height: 200px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.03);
}

.danger {
    background: #ff4b4b;
    color: white;
}

.police {
    background: #2d5be3;
    color: white;
}

.ambulance {
    background: #28a745;
    color: white;
}

#alert-container {
    position: fixed;
    top: 70px;               /* below header */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 700px;
    z-index: 1000;
}


.alert-card {
    background: #fff3cd;
    border-left: 6px solid #ff4b4b;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.actions {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.actions button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.actions .yes {
    background: #28a745;
    color: white;
}

.actions .no {
    background: #dc3545;
    color: white;
}

.map {
    height: 200px;
    width: 100%;
    margin: 12px 0;
    border-radius: 10px;
}
