{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">Emergency Services</h2>
<p class="page-subtitle">Tap an option below in case of emergency</p>

<div id="alert-container"></div>

<div class="dashboard-top">
    <a href="/profile" class="profile-btn">👤 Profile</a>
</div>


<div class="grid">
    <button class="card danger" onclick="sendHarassment()">🚨 Harassment</button>
    <button class="card">🔧 Mechanic</button>
    <button class="card">💡 Electrician</button>
    <button class="card police">👮 Police</button>
    <button class="card ambulance">🚑 Ambulance</button>
    <button class="card">🚰 Plumber</button>
</div>
{% endblock %}

{% block js %}
<script>
    localStorage.setItem("user_id", "{{ session['user_id'] }}");
</script>
<script src="{{ url_for('static', filename='js/location.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
