{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-box">
        <h2>Create Account</h2>
        <p class="subtitle">Join the safety network</p>

        <form method="post" action="/register">
            <input name="name" placeholder="Full name" required>
            <input name="email" type="email" placeholder="Email address" required>
            <input name="password" type="password" placeholder="Password" required>
            <input name="address" placeholder="Area / City" required>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
