{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-box">
    <h3>Create Account</h3>

    <form method="post" action="/register">
        <input name="name" placeholder="Name" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="address" placeholder="Address (Area / City)" required>
        <button>Register</button>
    </form>
</div>
{% endblock %}
